
@* 传递的参数写在这 *@
@import views.html.helper.form
@import scala.collection.mutable.ListBuffer
@(username: String, taskList: ListBuffer[Task])(implicit request: RequestHeader, flash: Flash)
@* main里面是title *@
@main("welcome to your task") {
    <h1> @username 的任务列表</h1>
        <ul>
        @for(task <- taskList) {
            <li>@task.name</li>
            <form method="post" action="@routes.TaskController.delTask(task.id)">
            <input type="submit" value="删除"/>
            </form>
        }
        </ul>
    <form method="post" action="@routes.TaskController.addTask()">
        <input type="text" name = "newTask"/>
        <input type="submit" value="添加任务"/>
    </form>
    <div>
        <a href="@routes.HomeController.logout">退出</a>
    </div>
}